[Unit]
Description=GNSS IP Manager Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/gnss/ip_manager
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
